body {
    font-family: helvetica;
    color: #777;
}

button {
    border: none;
    padding: 0px;
    margin: 0px;
    background: none;
}

button:focus {
    outline: 0;
}

button:active {
    color: #DDD;
    /*transition: all 1s;*/
}

.light-switch-buttons {
    border: none;
    margin: 0 auto;
    padding: 0px;
    background: none;

    width: 75%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.light-switch-buttons #on-button, #off-button, #loading, #load-error {
    display: none;
}

.light-switch-buttons button, p {
    font-size: 100px;
    margin: 50px;
}

.light-switch-buttons button:hover {
    color: #444;
}

.light-switch-buttons button:active {
    color: #777;
}
