<!DOCTYPE html>
<html>
<head>
    <title>Light Switch</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">

    <link rel="shortcut icon" type="image/png" href="/static/images/favicon.png">
</head>

<body>
    <div class="light-switch-buttons">
        <p id="loading">loading...</p>
        <p id="load-error">Can't access switch</p>
        <button id="on-button" type="button" value="true"><img src="/static/images/bulb-off.png"></button>
        <button id="off-button" type="button" value="false"><img src="/static/images/bulb-on.png"></button>

    </div>

    <script type="text/javascript" src="/static/jquery.js"></script>
    <script type="text/javascript" src="/static/main.js"></script>
</body>
</html>
