<!DOCTYPE html>
<html>
<head>
    <title>Light Switch</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>

<body>
    <div class="light-switch-buttons">
        <button id="on-button" type="button" value="true">turn light on</button>
        <button id="off-button" type="button" value="false">turn light off</button>
    </div>

    <script type="text/javascript" src="/static/jquery.js"></script>
    <script type="text/javascript" src="/static/main.js"></script>
</body>
</html>
