<!DOCTYPE html>
<html>
<head>
    <title>Light Switch</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>

    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
</head>

<body>
    <div class="light-switch-buttons">
        <p id="loading">loading...</p>
        <p id="load-error">Can't access switch</p>
        <button id="on-button" type="button" value="true"><img src="{{ url_for('static', filename='bulb-off.png') }}"></button>
        <button id="off-button" type="button" value="false"><img src="{{ url_for('static', filename='bulb-on.png') }}"></button>
    </div>
</body>
</html>
